.pageBody {
	width: calc(100% - 80px);
	right: 0px;
	position: absolute;
	height: 100%;
	overflow: auto;
	top:0;

}

.rightNavigation {
	left: 0;
	top: 0;
	position: absolute;
	height: 100%;
	background: rgb(30, 37, 40);
	width: 80px;
	display: block;
	color: rgb(152, 175, 176);

}

.rightNavigation ul {
	list-style: none;
	padding:0;
	font-family: "Lato";
	font-size: 13px;
	text-align:center;
}

.rightNavigation li{
	padding-bottom:10px;
	padding-top:10px;
	cursor:pointer;
}

.rightNavigation li:hover{
	background: rgb(22, 182, 158);
	color: rgb(52, 92, 94);
}

.rightNavigation ul i{
	display:block;
	font-size: 20px;
	padding-bottom:3px
}

.pageBody,.inspectPage {
	width: calc(100% - 80px);
	/* makes all items on a row equal height */
	align-items:stretch; 
	display:flex;
	/* wrap onto the next line rather than stretching or shrinking */
	flex-wrap:wrap; 
	/* tells flexbox to start items from the left */
	justify-content:flex-start; 
}

.mainFileDisplay {
	flex-grow:2;
}

.fileList{
	flex-basis: 150px;
	list-style: none;
	padding: 0;
	margin: 0;
	background: rgba(218, 218, 218, 0.74);
	color: rgb(44, 44, 44);
	font-size: 13px;
	font-family: "Open Sans";
	overflow:hidden;
}

.fileList li{
	padding:5px 10px;
	cursor:pointer;
}

.fileList li:hover{

	background: rgb(186, 186, 186);
}

.fileDisplay {
	width: 450px;
	flex-basis:200px;
	height:80%;

}

.fileViewer{
	height:80%;
	left:20px;
	top:20px;
	width:40%;
}

.markers{
	width:40%;
	right:20px;
	top:20px;
	height:80%;
	position:absolute;
	overflow:auto;
}

.rangeSlider{
	width:40%;
}
.loadingElement{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	background:lightblue;
	z-index:100;
}

.loadingProgressElement{
	color:white;
	font-size:80px;
	-webkit-animation: loading 3s linear 1s infinite alternate;
	margin: auto;
	width:40%;
	background: rgb(135, 185, 202);
	overflow: hidden;
	text-align:center;
	line-height: 100px;
	top: 60%;
	position:relative;
	font-family: 'Helvetica Nueve','Arial','Sans-serif';
}

@-webkit-keyframes loading{
	0% {transform: translateX(0px) scaleY(1) scaleX(1.2) rotateZ(180deg);}
	50% {transform: translateX(0px) scaleY(1) scaleX(-0.8) rotateZ(-180deg);}
	100% {transform: translateX(0px) scaleY(1.2) scaleX(1) rotateZ(-360deg);}
}

.loadingProgress{
	text-align:center;
	line-height: 100px;
	top: 20%;
	font-family: 'Helvetica Nueve','Arial','Sans-serif';
	font-size: 38px;
	color: rgb(70, 92, 113);
	position: relative;
}

.chart .axis path,
.chart .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;

}

.chart .x.axis path {
	display: none;
}

.chart .line {
	fill: none;
	stroke: steelblue;
	stroke-width: 1.5px;

}

.flex{
	display:flex;
	flex-flow:row wrap;
	width: 100%;
	align-content: flex-start;
	align-items: stretch;
}

.overlay{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:100;
	background: rgba(0,0,0,.3);
	display:block;
}

.listButtonBox{
	position:relative;
	top:50px;
	margin:auto;
	display:block;
	width:650px;
	height:350px;
	background:rgb(102, 212, 245);

	-webkit-box-align: center;
	-webkit-box-pack: center;

	display: -ms-flexbox;
	-ms-flex-wrap: wrap;
	-ms-flex-direction: column;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding:35px;
	box-sizing:border-box;

	-webkit-animation: appear 0.15s linear;
}

.listButtonBox .element{
	padding: 10px;
	margin:5px;
	background:rgb(68, 179, 211);
	display:block;
	text-align:center;
	font-family: "Open Sans";

}

.listButtonBox .element:hover{
	cursor:pointer;
	background:rgb(60, 169, 201);
}

.listButtonBox .element.selected{
	background:rgb(60, 169, 201);
}

@-webkit-keyframes appear{
	0% {transform: translateY(800px);}
	70% {transform: translateY(100px);}
	100% {transform: translateY(0px);}
}

.topBar{
	width:100%;
	height:80px;
}

.clientChooser{
	height: 70px;
	background: rgb(249, 248, 248);
	padding: 0;
	margin: 0;
	border: 0;
	flex-basis: 100%;

}

.listBoxButton{
	height: 50px;
	background: rgb(110, 216, 236);
	padding: 10px;
	font-family: "Open Sans";
	text-align: center;
	line-height: 30px;
	margin-top: 10px;
	margin-left: 20px;
	box-sizing: border-box;
	width: 100px;
	overflow:hidden;

}
